abrt/
autostart/
baidunetdisk/
cef_user_data/
Genymobile
clash/
configstore/                 
dconf/               
dleyna-renderer-service.conf
dleyna-server-service.conf
dolphinrc
enchant/                  
eog/                   
evolution/
fedoraproject.org 
gconf                       
gedit                       
Genymobile                  
gnome-boxes                 
gnome-initial-setup-done    
gnome-session
goa-1.0
google-chrome
gtk-4.0
htop
ibus
imsettings
Installer
JetBrains
kde.org
kglobalshortcutsrc
knfsshare
libreoffice
libvirt
LICENSE
matplotlib
menus
mimeapps.list
monitors.xml
nautilus
neofetch
pavucontrol.ini
pip
pipewire-media-session
Postman               
pulse                 
QtProject.conf        
session
shotwell
sidekick
Slack
spectaclerc
thefuck
Trolltech.conf
Typora
user-dirs.dirs
user-dirs.locale
VeraCrypt
VirtualBox
yelp
